<form class="add-symbol" ng-if="!module.symbol" ng-hide="showConf" ng-submit="addSymbol(results[0]);">
    <input type="text" class="in-symbol" ng-model="input.requestTerm" ng-change="updateResults()" ng-blur="clearResults()" />
    <label>Add a Symbol</label>
    <ul class="lookup-results" ng-show="results.length > 0">
        <li ng-repeat="(key, value) in results" ng-click="addSymbol(value)">{{value.Symbol}} - {{value.Name}}</li>
    </ul>
</form>
