<main>
    <div id="container" class="workspace-container no-highlight">
        <module class="module {{$index}} {{::module.type}}" ng-repeat="module in modules" module="module" grid="grid" index="$index">
        </module>
    </div>
    <ticker model="::myWatchlists"></ticker>
    <markets-overview></markets-overview>
</main>
