<!-- You could maybe reduce a few more watchers by combining the 'currentlyResizing' expression and this ng-class into a single ng-class expression that returns a more complex string of 'moduleState' maybe -->
<div class="{{currentlyResizing}}" ng-class="{'resizing': currentlyResizing, 'at-min-w': atMinW, 'at-min-h': atMinH}">
    <div class="resize-preview"></div>
    <div class="content">
        <div class="module-header">
            <div class="module-name drag-handle"><span ng-if="module.symbol" class="symbol">{{module.symbol | uppercase}}</span> {{::module.name}}</div>
            <div class="module-controls">
                <symbol-lookup ng-hide="showConf || module.symbol" parentmodule="module"></symbol-lookup>
                <i class="fa fa-external-link" ng-hide="showConf"></i>
                <div class="delete-module" tabindex="0">
                    <div class="delete-confirmation" ng-hide="!showConf">
                        <button ng-click="showConf = false">Cancel</button>
                        <button class="delete " ng-click="deleteModule(module, $index)">Remove Module</button>
                    </div>
                    <i class="fa fa-times" ng-click="showConf = true" ng-hide="showConf"></i>
                </div>
            </div>
        </div>
        <orbits ng-if="::module.type==='orbits'" style="width: {{module.w}}px; height: {{module.h}}px" parent="module">
        </orbits>
        <div chart class="my-chart" ng-if="::module.type=='chart'" style="width: {{module.w-10}}px; height: {{module.h-30}}px;" parentmodule="::module"></div>
        <custom-table model="module.data" ng-if="::module.type=='list'" parentdimensions="::module" grid="grid" colorize="::Change, ::ChangePercent, ::ChangePercentYTD, ::ChangeYTD"></custom-table>
    </div>
    <div class="width-control"></div>
    <div class="height-control"></div>
    <div class="size-control"></div>
</div>
