<div class="ticker-container no-highlight">
    <div class="sliding-bar" ng-class="{'slide': slideToggle}" style="width:{{allLists.length*140}}px;" ng-mouseover="stop()" ng-mouseout="start()">
        <div class="ticker-item" id="{{$index}}" ng-repeat="list in allLists" ng-click="addModule(list,$index)">
            <span>{{::list.name}}</span>
            <br> <span class="number {{checkPositiveNegative(list.averageChange)}}">{{list.averageChange}}</span>
        </div>
    </div>
</div>
