<table ng-model="table" class="main-table {{breakpoint}} has-mini" ng-init="table.order=''">
    <thead>
        <tr class="row">
            <th class="sortable cell  {{::key}}" ng-repeat="(key, value) in model[0]" ng-click="sort(key)" ng-class="{'desc': table.order == key, 'asc': table.order == '-'+key }">{{::key | tableHeader}}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row" ng-repeat="item in model | orderBy:(table.order)" ng-class="{'changed': item.changed}">
            <td class="cell {{::key}}" ng-repeat="(key, value) in item ">
                <i class=" fa fa-bars row-reorder " ng-if="::key=='Sort'"></i>
                <div class="symbol-controls ">
                    <i class="fa fa-times " ng-click="deleteMode='delete-mode'"></i>
                    <i class="fa fa-line-chart " ng-click="addChart( 'chart', item.Symbol)"></i>
                </div>
                <div class="name-hover">{{::item.Name}}</div><span class="number" ng-if="::key != 'Change'">{{::value | number}}</span><span class="string">{{::value}}</span>
                <div class="change-combined" ng-class="{'red': checkPositiveNegative(key, value)=='red' , 'green': checkPositiveNegative(key, value)=='green' }" ng-if="::key == 'Change'"><span class="number ">{{::value | number}}</span><span class="change-percent">{{::item.ChangePercent}}</span></div>
            </td>
        </tr>
    </tbody>
</table>
<div class="mini-map ">
    <div class="scroll-highlight "></div>
    <table>
        <tbody>
            <tr class="row " ng-repeat="item in model | orderBy:(table.order)" ng-class="{'changed': item.changed}">
                <td class="cell " ng-class="{'red': checkPositiveNegative('Change', item.Change)=='red' , 'green': checkPositiveNegative('Change', item.Change)=='green' } "><span>{{item.Change}}</span></td>
            </tr>
        </tbody>
    </table>
</div>
