<div class="header">
    <div class="logo"></div>
    <div class="new-module-controls">
        <button ng-click="addModule('list')"><i class="fa fa-list-alt"></i> Quote List</button>
        <button ng-click="addModule('quote')"><i class="fa fa-money"></i> Single Quote</button>
        <button ng-click="addModule('chart')"><i class="fa fa-line-chart"></i> Chart</button>
        <button ng-click="addModule('news')"><i class="fa fa-newspaper-o"></i> News</button>
        <button ng-click="addModule('orbits')"><i class="fa fa-globe"></i> Orbits</button>
    </div>
</div>
